/* .schedule-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
} */

.title-wrapper {
  display: flex;
  justify-content: center;
}

.schedule-fa-times {
  font-size: 25px;
}

.schedule-dialog {
  width: 800px;
  height: 100vh;
  background: #fff;
  color: #161c2d;
  overflow: hidden;
  padding: 1.25rem 1.85rem;
  border-radius: 5px;
  cursor: default;
}

.iframe-wrapper > iframe {
  width: 100%;
  height: 600px;
}


.is-visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}