.joke-advice-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.joke-container, .advice-container {
  width: 500px;
}

@media (max-width: 575px) {
  .joke-advice-wrapper {
    width: 320px;
    margin: auto;
    margin-bottom: 30px;
  }

  .joke-container, .advice-container {
    max-width: 300px;
  }

  .joke-div {
    width: 100%
  }
}

@media (max-width: 383px) {
  .joke-advice-wrapper {
    display: none;
  }
}