.nav-bar {
  display: flex;
  justify-content: space-between;
}

.ul-list ul {
  list-style: none;
  display: flex;
}

.ul-list ul li {margin-right: 10px;}

.ul-list ul li input {
  font-size: 16px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.about-Btn, .schedule-Btn {
  background-color: white;
  margin: 20px;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.about-Btn:hover, .schedule-Btn:hover {
  color: darkcyan;
  text-decoration: underline;
} 